[2018-03-03 07:11] gmosx opened #13 "Model is not a great name for the 'marker' interface"
The Ruby on Rails inspired name is a poor choice IMO. What about using something like `DBRecord`, `DBEntity`, `DBPersistable` or something similar?

[2018-03-03 09:14] ianpartridge commented on #13
Thanks for the feedback. Can you explain why you think `Model` is a poor choice?

[2018-03-03 09:26] gmosx commented on #13
Model reminds me of 'domain model' or MVC. I don't think you can find the term model in the database literature. The marker interface should denote that the specific  type (class/struct) can be stored in a database (not only stored, but also indexed, searched etc...)

I think the terms Record/Entity are more common, and the `DB` prefix make the interface even more specific.

[2018-03-05 10:22] EnriqueL8 commented on #13
Hey @gmosx, I believe the term `Model` is widely used and accepted by the majority of the community. Also, I think for swift developers just getting started into persistence the idea of storing a `Model` is easier to grasp. Obviously we will keep this under review, and if the community continues to have concerns we would look to change it! Thanks for the concern

[2018-03-05 11:56] #13 closed

[2018-03-07 10:38] EnriqueL8 opened #16 "Using an existing field in the model as the Identifier"
At the moment, the ORM sets the primary key to be a auto incrementing Integer and it cannot be changed.
The idea is for example if we had:

[code]

We would want the `name` to be the Identifier for Books.

An implementation would be to set a `static var` in the Model, which determines the id column.

[code]

This would default to a `id` column which is an auto incrementing integer.

[2018-03-07 14:49] fobin commented on #16
Would also be nice if it would support other types of id's. First in mind comes uuid.

[2018-03-07 15:03] EnriqueL8 commented on #16
Hey @fobin, yes we have though about that instead of having to declare a field as UUID just change the type directly. Good shout!

[2018-03-09 07:01] fobin opened #17 "Question: Any plans for the nested structures"
Would be great for JSONB type columns to use.

[2018-03-09 15:30] EnriqueL8 opened #19 "Adding Parameter() in Query creation"
Currently the input values are not filter which could lead to SQL Injections. Swift-Kuery includes a `Parameter` class which limits SQL Injections.

[2018-03-09 15:32] EnriqueL8 opened #20 "Control over data types and sizes"
A way of specifying the data types used in the database for the model.

[2018-03-13 03:09] ghost opened #22 "Renaming the class "Database"."
Kitura-CouchDB (https://github.com/IBM-Swift/Kitura-CouchDB) is already using it.
Can we renaming it?

[2018-03-13 12:56] EnriqueL8 commented on #22
Hey @invencode, an idea would be to create a `typealias` in your code such as:
[code]
Could that be fine?

[2018-03-13 16:13] djones6 opened #23 "Refresh data values for a Model"
In a situation where an application shares a common database with other applications, it may be necessary to refresh the values of a `Model` with their current values in the database.

I think that Model should have an API such that you could call `refresh()` (or similar) on to reload the current values from the database.

[2018-03-15 13:11] invencode commented on #22
@EnriqueL8, It could be fine for new projects.
But, it would be great if there is a way to use Swift-Kuery-ORM with existing projects without any code changes.

[2018-03-19 11:04] EnriqueL8 commented on #22
@invencode Instead of making changes to your CouchDB code,  you could `typealias` the ORM Database?
[code]

[2018-03-23 02:17] invencode commented on #22
@EnriqueL8 , The two options you mentioned (either using typealias for CouchDB.Database or SwiftKueryORM.Database) had occurred to me, but even though that kind of fix is possible, I suggested changing the name from “Database” to “ORMDatabase” mainly for three reasons:

1. Using typealias is very simple, but avoiding its use at all seems simpler. Disregarding the convenience of not having to use t

[2018-04-03 14:47] #16 closed

[2018-04-14 22:57] fwgreen opened #28 "Serializaion error"
I'm encountering [this error](https://bugs.swift.org/browse/SR-6754), or something close to it.

Maybe there is a problem with the entity?
[code]

Here's the dump
[code]
Swift 4.1 on Ubuntu 16.04 (WSL).

[2018-04-17 15:26] EnriqueL8 commented on #28
Hey @fwgreen, thanks for raising this issue! I am able to replicate this issue on Swift 4.1 on HighSierra. We are investigating this issue

[2018-04-24 07:41] ianpartridge commented on #28
This was fixed in the compiler as https://github.com/apple/swift/pull/16023

[2018-04-24 20:10] fwgreen commented on #28
My project doesn't compile with the 4.2 dev snapshot (2018-04-23), so I can't verify that it works.

[2018-05-04 15:50] Morpheu5 opened #35 "How to validate model attributes?"
I may be missing this completely, but I don't see a way of validating attributes of `Model`s for things like uniqueness (say, user names or e-mail addresses?) and so on. Is this functionality that is not implemented / will not be implemented, or is this going to come in the future?

I'm happy to do manual validation, but it would be neat to have this supported by the ORM.

[2018-05-04 19:43] EnriqueL8 commented on #35
Hey @Morpheu5, unfortunately this functionality hasn't been implemented just yet. But we could definitely be willing to add it! @kilnerm could you have a look if this is a possibility?

[2018-05-05 09:06] Morpheu5 commented on #35
Thanks for the clarification, @EnriqueL8! I'll go ahead and do my own validation for now, but I'll keep watching this space. Count me in at least for a discussion :)

[2018-05-05 15:12] Morpheu5 opened #36 "How do I build a custom query if all I have is a Table?"
With reference to #35, I am trying to build a series of queries to do my own validation before saving/updating my models. The docs suggest to retrieve the table like this
[code]
and then use it to build a plain old `Query` using Swift-Kuery. However, `getTable()` returns a `Table`, which obviously has none of the keys of `Grade`, because it is not a `Table`).

Any pointers? :)

[2018-05-09 21:26] EnriqueL8 commented on #36
Hey @Morpheu5 , an idea would be to extend your `Grade` Model - like this:

[code]

Have a look at the `Model.swift` code for reference. Let me know if that solves the problem

[2018-05-16 21:37] eugeniobaglieri opened #37 "Can't use save with id in completion closure"
I have this struct:

[code]
If I try to save it, using this save method
[code]
[code]
I obtain this error, forcing me to use the other save variation:

<img width="979" alt="screenshot 2018-05-16 23 37 03" src="https://user-images.githubusercontent.com/1050414/40145443-15f0a2a2-5962-11e8-9b58-805dcf63d427.png">

What am I missing?

### Environment Details
macOS 10.13.04, Xcode 9.3.1, Swift 4.1

[2018-06-01 16:02] #28 closed

[2018-06-03 16:37] jeremyquinn opened #42 "Date not supported in SQLite"
## Context and Description
I have a simple Model containing some Swift Date properties.

When the struct is saved, I get an error: *Unsupported parameter type* in the function : `bind(parameter:at:statement:) -> QueryError?` in `SQLiteConnection`.

I tried adding a case for Date :
`case let value as Date: resultCode = sqlite3_bind_double(statement, index, Double(value.timeIntervalSinceReferenceDat

[2018-06-03 16:48] jeremyquinn commented on #42
BTW. The same problem with enums (RawRepresentable) even though it is Int, Codable etc., fails to bind.

[2018-06-03 18:31] ianpartridge commented on #42
Hi @kilnerm can you take a look please?

[2018-06-03 20:10] jeremyquinn commented on #42
In `CodableRouter` in `httpStatusCode(from error: RequestError) -> HTTPStatusCode` I added `Log.debug("mapping error to 500: \(error.reason)")`.
Now I see `mapping error to 500: Unsupported type: Date for value: Optional(549748721.94289601)` which I guess confirms my fix above is incomplete.

[2018-06-03 20:35] jeremyquinn commented on #42
I guess this change should be happening in DatabaseDecoder, DatabaseEncoder.

[2018-06-04 09:46] jeremyquinn commented on #42
I have fixes for Date and Date? for DatabaseDecoder and DatabaseEncoder, if you are interested.

[2018-06-04 09:46] EnriqueL8 commented on #19
Done in `0.1.0`

[2018-06-04 09:46] #19 closed

[2018-06-04 10:18] EnriqueL8 commented on #42
Hey @jeremyquinn, if you could raise a PR with the fixed that would be great!

[2018-06-04 11:34] #42 closed

[2018-06-04 15:33] jeremyquinn opened #45 "RawRepresentable not supported in SQLite"
## Context and Description
As I mentioned in Issue #42, I get errors encoding and decoding Enums which are `RawRepresentable` & `Codable`.

I have a tentative solution but at the moment is is per `RawType`, so would likely be user-specific.

Maybe this could be added to your codebase as an example or to your documentation.
Here is the solution for `Int` based `enum`, `String` etc. is equally trivi

[2018-06-04 15:43] EnriqueL8 commented on #45
Hey @jeremyquinn, this is something we should definitely support! Maybe we could have a protocol that the enum has to implement so it can be used in the ORM? Could you open a PR with your prototype?

[2018-06-05 13:36] jeremyquinn commented on #45
Hi @EnriqueL8, glad to know you are interested.

The only way I have managed to make this work so far, is to be specific about the type of the `RawValue` and use a global extension.

My guess is that an implementation for `Int` and `String` `RawValue` will cover 90% of use cases.

Enums can already be made `Codable` and were already supported by the `JSONDecoder`. They just were not supported by y

[2018-06-07 02:49] fwgreen opened #50 "Kuery-ORM (0.1.1) seems to be adding a character to some table names"
I have an existing table called `availability` on PostgreSQL
[code]
Here's my model
[code]
This is the error message from the database server
[code]
Oddly, it does not do this with all entity names.  It would be great if one could specify table and column names, JPA style: `let tableName = "whatever_name"` is completely ignored.

[2018-06-07 17:47] EnriqueL8 commented on #50
Hey @fwgreen , I have realised that for the custom column names you can just use CodingKeys, like so:
[code]

[2018-06-07 17:47] #50 closed

[2018-06-07 18:56] fwgreen commented on #50
@EnriqueL8 This is a potentially elegant solution, that at the moment doesn't work:  I only have one table without a snake-cased column name and it's the only one that Kuery-ORM can retrieve.  Everything else triggers an empty 500 error which isn't caught by the logger, but instead is only seen in my REST client.

PS: While `tableName` got rid of the original SQL error on the database server, ther

[2018-06-08 09:34] EnriqueL8 commented on #50
Hey @fwgreen, the magical "s" is appended by default to the table names.
For the column names, I made a mistake instead of `ColumnKeys` is had to be `CodingKeys`
Like so,

[2018-06-08 12:05] fwgreen commented on #50
Thanks for putting me on the right path!

[2018-06-12 07:43] diuming opened #53 "confusing about 'executeQuery' is inaccessible due to 'internal' protection level"
## Context and Description
as title

    struct Student: Model {
        var name: String
        static func students(withName name: String) {
            //  error: 'executeQuery' is inaccessible due to 'internal' protection level
            Student.executeQuery(query: select) { (users: [Student]?, error: RequestError?) in
            }
        }
    }

### Environment Details
macOS 10.13.4
Xco

[2018-06-12 09:11] EnriqueL8 commented on #53
Hey @diuming, did you mean to close this?

[2018-06-12 09:23] diuming commented on #53
Hey Master,

I think the "executeQuery" is a good function.
But maybe you are don't let user to use it outside. So you declare it to internal.

[2018-06-12 21:29] bagfatnick opened #54 "Update does not update nil values"
## Context and Description
When I use Model.update, nil values in the variables within the model does not get updated

### Environment Details
Mac OS 10.13.6
SwiftKueryORM v0.2.0
SwiftKueryPostgreSQL v1.1.5

### Steps to Reproduce

`
struct Grade: Codable, Model {
        var subject: String
        var score: Int?
    }

    //create gradeA
    let gradeA = Grade(subject: "Physics", score: 85)

[2018-06-13 01:20] fwgreen opened #55 "Provide a strategy for single table inheritance"
Allow users to inherit from a `Base` class, Active Record style, or a `MappedSuperclass`, JPA style.

[2018-06-21 14:08] fwgreen opened #57 "Problem decoding PostgreSQL timestamps"
Trying to list the records in a table with timestamp columns triggers this error:
[code]
[code]
[code]

[2018-06-21 15:35] EnriqueL8 commented on #57
Hey @fwgreen, what version are you using?

[2018-06-21 16:53] fwgreen commented on #57
@EnriqueL8 The `Package.resolved` says version `0.2.0`.

[2018-06-22 10:28] EnriqueL8 commented on #57
After replicating your issue - I have seen that we extract the `TimeInterval` from `Date` and store it in the database. Since `public typealias TimeInterval = Double`, we just make the table column of type `double precision`. In you case since you are constructing the `Create Table` manually , you have set a different type for that column that is why we fail to decode the value because we are expe

[2018-06-22 11:32] fwgreen commented on #57
@EnriqueL8 Thanks for taking the time to investigate this issue.  My database is part of a preexisting Java application and it seems the [PostgreSQL JDBC driver](https://jdbc.postgresql.org/documentation/head/java8-date-time.html) defaults `java.time.LocalDateTime` to timestamp, a fact I took for granted.  These are the risks when running in polyglot environments 😄

[2018-07-03 03:14] diuming opened #61 "Does the QueryParams support 'LIKE' filter?"
SQL Statement
---
SELECT a, b FROM t1
WHERE (a `LIKE` '%b' OR a = 'apple') AND b > 5
ORDER BY b ASC, a DESC
OFFSET 5;

thanks

[2018-07-17 14:12] djones6 opened #63 "TableInfo.codableMap is not thread-safe"
## Context and Description
When running a benchmark with multiple concurrent connections, I get a crash in `TableInfo.getInfo()`, where `codableMap["\(type)"]` is being force-unwrapped:

https://github.com/IBM-Swift/Swift-Kuery-ORM/blob/master/Sources/SwiftKueryORM/TableInfo.swift#L37

The code _should_ have ensured it was initialized if it was initially nil, however if multiple threads execute th

[2018-07-18 08:41] EnriqueL8 commented on #54
This had been merged - will be included in the next tag.

[2018-07-18 08:41] #54 closed

[2018-07-28 01:53] jmmaloney4 commented on #53
I am having the same issue, could someone explain how this was resolved? @diuming @EnriqueL8

[2018-07-31 09:12] kilnerm commented on #53
@jmmaloney4, Can you tell me a bit more about what you are trying to achieve with the executeQuery method? You should be able to do the same thing with the public api.

I believe the reason the methods are internal is that they are not intended to be executed directly against the model, perhaps @EnriqueL8 can confirm this?

[2018-07-31 17:05] EnriqueL8 commented on #53
The idea of these methods is to preform your own queries within the `Model`. It can be that since they are `internal`, they cannot be used within a type conforming to `Model` . I consider making them `public` or updating the documentation.

[2018-08-01 19:53] jmmaloney4 commented on #53
@kilnerm @EnriqueL8 I actually figured it out I believe. The problem was that using `findAll` with query parameters was poorly documented. I saw it and thought that I could only retrieve *every* instance, so I was trying to implement my own query to do the SELECT for me. But now I seem to have figured it out. I am a database noob so its probably assumed that of course you would never retrieve ever

[2018-08-09 09:16] #63 closed

[2018-08-13 04:25] bagfatnick opened #65 "keyNotFound error when retrieving model with uppercase letters in column names"
## Context and Description
keyNotFound error when model has uppercase letters in column names. No issue when column names are all lower case, or if retrieved via Swift-Kuery

### Environment Details
SwiftKueryORM 0.3.1
SwiftKueryPostgreSQL 1.2.0
SwiftKuery 2.0.0
Kitura 2.4.1

Machines tested:
MacOs 10.14 Beta (18A353d), Swift version 4.2 (swiftlang-1000.0.16.9 clang-1000.10.25.3)
ibmcom/swift-ubun

[2018-09-07 03:43] shial4 opened #66 "QueryBuilder wrong type returned for Swift.Double"
## Context and Description

[code]

ERROR:  type "double" does not exist

QueryBuilder() for swift type Double retourns "double" instead of "double precision"

[code]

### Environment Details
[code]

### Steps to Reproduce
1) Create Model class with Swift.Double properties
2) Run program to setup table and all
3) Modify Model class adding new properties type of Swift.Double
4) Try executing custom

[2018-09-07 07:51] kilnerm commented on #66
The issue is here:
[code]
The QueryBuilder being passed to create is the default QueryBuilder. You would need to pass the database specific QueryBuilder to access the correct type substitution. Each database connection has a queryBuilder property which should allow you to do this.

Let me know if you need more help.

[2018-09-30 06:38] kenlaws commented on #53
I am admittedly new to Kitura, but I'm in the same boat, and the docs and source code are not helping. For example, the docs at [Swift-Kuery-ORM](https://ibm-swift.github.io/Swift-Kuery-ORM/index.html) tell me (near the bottom) specifically to use `executeQuery`, which is impossible.

I'll back up a moment and state my goal: Given a class `B` that is properly mirrored in the db, I want to run a qu

[2018-10-01 10:13] kilnerm commented on #53
Hi @kenlaws, have you see th efollowing blog post that gives a good example of using QueryParameters to filter results from findAll?

[2018-10-03 21:10] kenlaws commented on #53
Aha! Thank you, that blog post has some info that isn't in the current docs.

Regarding the specific "or" example I gave, I've written a view and stored procedure in my PostgreSQL db that produce what I want, and I may just try to call it via Swift-Kuery, if possible, and interpret the results. Of course, ideally, I'd like to be able to have something higher level...

[2018-10-04 07:13] kilnerm commented on #53
@kenlaws, Glad the blog was useful.

If you have any other use cases that the ORM does not currently support please raise an issue.

I'll discuss the current privacy levels of the executeQuery calls with some of the other folks here and see how they feel about exposing them vs updating the API.

[2018-10-12 09:26] kilnerm opened #67 "Improve Model filtering capabilities"
"Given a class B that is properly mirrored in the db, I want to run a query against it, ideally something complex like fieldA == 'me' || fieldB == 'you', and have the results come back as they normally do in a findAll call, all nice and organized as instances of class B"

This use case was raised as part of discussion within issue 53 and looks a reasonable item for us to implement.

[2018-11-01 16:56] djones6 opened #71 "Possible data corruption issue under stress"
## Context and Description
I think there may be a concurrency issue with Kuery-ORM when subjected to stress which causes infrequent errors, but looks like it could potentially cause data corruption.

I am using [this work-in-progress branch](https://github.com/IBM-Swift/Kitura-Benchmarks/tree/TechEmpowerAsync) of my TechEmpower implementation for Kitura, compiled in release mode, and driven with t

[2018-11-01 16:56] djones6 commented on #71
@kilnerm FYI.

[2018-11-05 14:16] djones6 commented on #22
@kilnerm We could consider adding a public typealias to the ORM (and/or Kitura-CouchDB) to provide an alternate name to use where there would otherwise be ambiguity.

[2018-11-14 00:01] spykr opened #74 "TINYINT (8-bit integer) datatype is not supported"
## Context and Description
Trying to decode a TINYINT datatype will throw an error, whether you try to decode to `Int` or `Int8`. This is frustrating as I believe it's common practice to use TINYINT to represent boolean values.

### Steps to Reproduce
1) Use the TINYINT datatype in a MySQL table
2) Attempt to use the corresponding Kuery model, with the type of the field set to either `Int` or `Int

[2018-11-14 08:50] kilnerm commented on #66
Marking this as resolved.

[2018-11-14 08:50] #66 closed

[2018-11-16 08:39] kilnerm opened #76 "Populate id field in Model with the auto incrementing value"
Context & Description

When a model containing an ID, is saved into the database - populate the id field of the returning model with the auto incremented value.

Clear & Actionable Tasks

- [x] Decide on a design
- [x] Implement it
- [x] Add Tests

[2018-11-19 10:43] kilnerm commented on #17
@fobin, We do have plans to add support for nested Structures along with dictionaries and arrays.

JSONB column support is probably a different piece of work as it will take a little more than simply encoding/decoding a struct. We will have to enhance the underlying plugins to add support for the base column type as a starting point.

[2018-11-27 05:31] xeokeri commented on #74
Don't forget the following:

[code]

And additionally, in SwiftKuery, it is missing this:

[code]

Which would then allow using the following:

[code]

[2018-12-02 08:57] xeokeri opened #77 "Suggestion: A better way to handle the Model protocol."
## Context and Description
Trying to create a project where the Query filtering components and the Model components, that are outside of the scope of SwiftKuery/SwiftKueryORM/etc..., are in individual frameworks. The framework that mainly interacts with the Models in my implementation, doesn't allow for the models to directly access the `Query.framework`. `Query.framework` has access to `Models.fr

[2018-12-02 18:50] xeokeri opened #78 "BUG: UUID optional not handled in decodeIfPresent, throws error."
## Context and Description

The following method lacks decode support for UUID:

[code]

Throws:

[code]

### Environment Details
Running macOS 10.14.1, Xcode 10.1, Apple Swift version 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1)

Running SwiftKueryORM branch `next`.

### Steps to Reproduce
1) Try to decode a struct with an optional UUID.
2) Error is thrown.

### Expected vs. Actual Behaviour
-

[2018-12-03 00:09] xeokeri commented on #20
I agree with this. I have an enum that subclasses string, but it should be a `varchar` or `char`, instead it creates `text`, but then has issues with then enum class when doing additional QueryParam filtering. As it doesn't see the `Enum : String`, but as an default and converting to `String`. Having more fine grain control over it would also assist with the MySQL bind issue I'm having locally try

[2018-12-03 13:17] fabrijp commented on #57
I'm having the exacly issue trying to retrieve a `datetime` field from a preexisting MySQL database..

[2018-12-03 14:31] eugeniobaglieri commented on #37
Try to remove id param from closure.
{ (user, error) in ...

[2018-12-03 23:44] xeokeri commented on #37
I did that locally, but it seems that the ability to get the ID is lost.

[2018-12-06 12:42] kilnerm opened #79 "Update ORM to work with SwiftKuery API changes"
This issue is opened to conform to the recent changes made to the Swift Kuery API and behavior.

Upon completion the ORM should build and execute when importing the SwiftKuery next branch.

This update and subsequent testing are a gate to releasing SwiftKuery3.0 and so this issue is being added to the appropriate Epic.

[2018-12-06 12:45] kilnerm opened #80 "Update ORM to conform with Swift Kuery changes for retrieving results."
This issue is open to update the ORM to conform to the changes made in Swift Kuery relating to retrieving results from executed queries.

The adoption and subsequent testing of these changes is a gate to the release of Swift Kuery 3.0 so this issue is being added to the appropriate epic.

[2018-12-18 11:30] kilnerm commented on #80
Preview branch of the ORM has been completed and tested so marking this as resolved.

[2018-12-18 11:30] #80 closed

[2018-12-18 11:30] kilnerm commented on #79
Prototype branch has been built and tested so marking this as closed.

[2018-12-18 11:30] #79 closed

[2018-12-21 12:07] EnriqueL8 commented on #37
In order for this closure to work, you will need to specify the type of the ID such as :

[2019-01-02 05:46] fwgreen opened #84 "Support for PostgreSQL schemas broken"
I updated an old project and found that Kuery-ORM no longer recognizes PostgreSQL schemas:

[code]
[code]

[2019-01-02 23:16] fwgreen commented on #67
Support for discriminator columns would be a much appreciated enhancement.  The current approach only allows for one discriminator at a time:
[code]
For example, here nurses can be RNs or LPNs.  To get all nurses one would need:
[code]

[2019-01-07 09:31] kilnerm commented on #53
The ORM documentation needs a better example of how to use the internal methods. I will write some sample code and update the README.

[2019-01-07 10:05] kilnerm commented on #71
@djones6 Does this need further investigation or can we close it based on the issue not occurring with Kuery 3.0?

[2019-01-07 11:40] kilnerm commented on #53
I was just writing an example for the question regarding the ORM's executeQuery methods..... turns out that internal methods defined on a protocol extension are not accessible within a further extension of that protocol. eg......
[code]
Will see how we can make this work as intended.

[2019-01-08 07:38] kilnerm opened #88 "Improve ORM documentation"
The ORM documentation needs reviewing and updating to make it a little more comprehensive.

This issue is raised to track the update.

[2019-01-08 07:40] kilnerm commented on #88
Feedback from Slack:

Also one thing that tripped me up was case sensitivity of it all, I had a property in my model with upper case like appId, and I could’t fetch from database due to a cryptic 702 error, something about codable and appId, until I googled and found something about case sensitivity. So now I added CodingKeys to handle the case like appId = “app_id” and then need to use app_id in

[2019-01-09 11:38] kilnerm commented on #53
We have just merged a PR that exposes the executeQuery methods as public meaning they can now be used as intended. The README has been updated with an example of their use: https://github.com/IBM-Swift/Swift-Kuery-ORM#customizing-your-model

I am going to mark this as closed, please reopen if there are any follow up questions.

[2019-01-09 11:38] #53 closed

[2019-01-09 13:40] diuming opened #89 "enum issue when adopting Model"
enum issue when adopting Model

Swift-Kuery-ORM: 0.4.1
PostgreSQL: 10.6

other questions:
`R1`) 701 : Nested structs or dictionaries are not supported
`R2`) 701 : Arrays or sets are not supported
How do I get DB connection or pool from `Database.default`?
Do you have any plan to support `R1` and `R2`?

create an object and save it
---
[code]

swift code
---
[code]
[code]

[2019-01-09 15:49] diuming opened #90 "keyNotFound issue when variable name using camel case."
Swift-Kuery-ORM: 0.4.1
PostgreSQL: 10.6

I don't know what happened in version 0.4.1.
The variable `isActivated` is  a `Bool` type. (`variable name using camel case`)

get all users
---
[code]

swift code
---
[code]

[2019-01-10 02:43] fwgreen opened #91 "Upgrading to Swift-Kuery-ORM 0.4.X and Swift-Kuery-PostgreSQL 2.X breaks application"
I have working applications on both Ubuntu and macOS that stopped working after upgrading.  There are no errors or warnings.  It seems as if all queries are coming back empty from the database.  The database server reports no errors at its end.  Downgrading to Swift-Kuery-ORM 0.3.1 and Swift-Kuery-PostgreSQL 1.2.0 resolves the problem.

[2019-01-10 08:13] diuming opened #92 "Select issue on Swift-Kuery-ORM: 0.4.x"
Swift-Kuery-ORM: 0.4.1
PostgreSQL: 10.6

Please!  take a look `getUsers(email: String) function` in User Model.
getUsers(query: query1) occurs an error
- getUsers(query: query1)
   error: 702 : keyNotFound(CodingKeys(stringValue: "id", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "id", intValue: nil)], debugDescription: "No value for property with this key", und

[2019-01-10 08:33] kilnerm commented on #91
@fwgreen, Could you show me some sample code that isn't working as expected?

My immediate hunch is that this relates to the fact the ORM API will now behave in an asynchronous fashion since the update to SwiftKuery 3.0.

[2019-01-10 10:05] kilnerm commented on #90
I suspect this is related to the changes in Kuery 3.0 regarding respecting case in table definitions. Will do some further investigation.

[2019-01-10 10:07] kilnerm commented on #92
I will recreate the issue and do some investigation.

[2019-01-10 12:31] kilnerm commented on #92
@diuming, The reason you get the error running query1 is that the rows returned by it do not contain the fields necessary for decoding into your `User` model (they only return the email field).

A query defined as
`let query3 = Select(fields: [idColumn, nameColumn, passwordColumn, emailColumn], from: [table])`
is successful as all the columns are returned.

Let me know if you have any further ques

[2019-01-10 13:14] diuming commented on #92
@kilnerm thanks for replying

the query3 looks like the query2, right?
SELECT * FROM Users WHERE email == "abc@cde.def";

I just want to select `specific columns`, example
SELECT email FROM Users WHERE email == "abc@cde.def"

is it my fault?

[2019-01-10 13:35] kilnerm commented on #92
@diuming, the executeQuery API will return you an array of decoded models. Because your query1 does not include all the fields to allow the results to be decoded you see the error.

Your queries will need to retrieve all fields to be able to decode into Models. If you want to get a subset of data back from your tables you could use a connection to execute basic SwiftKuery operations.

[2019-01-10 13:52] diuming commented on #92
@kilnerm
Got it! thx

[2019-01-10 13:52] #92 closed

[2019-01-10 14:10] fwgreen commented on #91
@kilnerm Trying to create a minimal working example revealed that the problem is at my end.  I have a generic repository which seems to only work in synchronous mode.
[code]

[2019-01-10 15:22] kilnerm commented on #91
@fwgreen, Looking at the code above you will need to move your `return entities` calls inside the closure you pass into the Entity.find* functions, for example:

[code]

The ORM methods will now behave asynchronously so the calling thread will drop through to the return call at the moment the findAll call make an underlying call to the database.

Let me know if you have any other issues after maki

[2019-01-10 18:17] fwgreen commented on #91
@kilnerm Thanks for your help!  Sadly, I couldn't get the approach you outlined to work (I'm a novice at Swift), but it inspired a work around that allows me to keep my generic repository:  Flip the whole thing on its head and pass the view into the repository:
[code]

[2019-01-10 18:17] #91 closed

[2019-01-11 10:40] kilnerm commented on #65
I have a duplicate issue for this #90 and a fix under review in PR #93

[2019-01-11 12:20] kilnerm commented on #90
I have merged a fix for this issue into master. It will be available in the next release.

[2019-01-11 12:20] #90 closed

[2019-01-11 12:20] kilnerm commented on #65
I have merged a fix for this issue into master. It will be available in the next release.

[2019-01-11 12:20] #65 closed

[2019-01-17 08:08] kilnerm commented on #88
The update should include some sample code that demonstrates how to use predefined tables (created using Kuery or direct on the DB) with the ORM.

[2019-01-17 10:42] kilnerm commented on #88
Add better examples of using QueryParams

[2019-01-21 12:38] kilnerm commented on #37
@eugeniobaglieri, @xeokeri, As noted by @EnriqueL8 in the previous comment you need to specify the types of the parameters passed into the completion handler. When you do this the desired API will be used. Let me know if you need any further help with this.

[2019-01-21 12:48] kilnerm commented on #89
@diuming, With regard to your questions R1 and R2 we are planning on adding support for nested structs, arrays and dictionaries along with relations. Currently however the focus is on resolving functional issues to build a stable base to build these enhancements on top of.

`Database` does not expose an API for getting a connection, at this time you would have to keep a reference to the connection

[2019-01-22 01:05] diuming commented on #89
@kilnerm
I got it and thank you for helping me.

[2019-01-22 01:05] #89 closed

[2019-01-22 13:40] kilnerm commented on #57
Having done some preliminary work on this the ORM encodes and decodes `Date` to a double as that is how `Date` is implemented (see its `int(from:) and `encode(to:)` functions).

Trying to overload this implementation to allow encoding / decoding from the range of "timestamp" fields the database plugins provide is going to be messy.

I am proposing to add some additional data types to represent the

[2019-01-24 07:42] fwgreen opened #96 "Consider adding support for filtering against arrays"
This feature is in Swift-Kuery, as it supports `WHERE field IN (?, ?, ...)` clauses, but the ORM does not have access to it.  As I use this for multiple entities in my domain, my current workaround is to extend Model –Which clearly was never meant for that.  Being able to code a filter like this seems quite natural:
[code]

[2019-01-28 08:45] fwgreen opened #97 "Please add support for COUNT"
Aggregate functions are supported in Swift-Kuery but no abstractions are provided for the ORM.

[2019-01-30 06:01] mbmshafraz opened #98 "([SwiftKuery.Column]) columns = <Unable to determine byte size.>"
## Context and Description
A description of the issue.

### Environment Details
Development Envirement MacOS, MySQL server on Ubuntu, Swift 4.2 and Xcode 10.1.

### Steps to Reproduce
Save an object using save function

### Expected vs. Actual Behaviour
receiving ([SwiftKuery.Column]) columns = <Unable to determine byte size.>

[2019-01-30 08:40] kilnerm commented on #98
@mbmshafraz, can you add your table definition and code calling the save (including values) to the issue please?

[2019-01-30 09:51] kilnerm commented on #37
Marking this as closed, please reopen if you require further help!

[2019-01-30 09:51] #37 closed

[2019-01-30 10:34] kilnerm commented on #98
I discussed the issue on slack, the root of the problem was that a pre-existing database table had an incorrect name for the model:
[code]

The error message should be better in these circumstances so I will use this issue to improve it!

[2019-01-30 15:16] #71 closed

[2019-01-31 10:36] mbmshafraz opened #99 "Varchar type ID"
## Context and Description
I can't create Table with String/Varchar type ID in MySQL database

### Environment Details
MySQL on Ubuntu

### Steps to Reproduce
Define struct with string type id
extend idColumnName, idColumnType
call createTableSync() method

### Expected vs. Actual Behaviour
- [ ] Expected to create the table
- [ ] Actually happened: Doesn't create the table

[2019-02-01 09:39] kilnerm commented on #84
This is an unexpected consequence of the changes we made to support case sensitivity in the database plugins. I can recreate the issue outside Kuery by simply creating a schema, creating a table within it and then wrapping the `schema.tablename` in double quotes in a `SELECT` statement.

This one may be tricky to fix in an elegant fashion, will see what I can come up with.

[2019-02-11 11:40] kruperfone opened #100 "Model.createTable() database argument not used"
Model.swift:145 `static func createTable(using db: Database? = nil, _ onCompletion: @escaping (Bool?, RequestError?) -> Void)`
Argument `db` provided but not used
Looks like it should be used in Model.swift:152 `Self.executeTask(using: db)`

[2019-02-12 08:36] kilnerm commented on #84
Having spent some time looking at this issue in more depth I have concluded schema's are not something that we can support or that were intentionally supported in the past.

My reasoning for this is the fact that the three supported databases for SwiftKuery all have different implementations of SCHEMA that we are not able to implement support for in a plugin agnostic manner. While an implementatio

[2019-02-12 16:14] fwgreen commented on #84
@kilnerm I'm sorry to hear that.  I had assumed that the support for PostgreSQL came from its [Swift-Kuery plugin](https://github.com/IBM-Swift/Swift-Kuery-PostgreSQL/issues/2) and not from Swift-Kuery or Swift-Kuery-ORM.

Adding the ability to perform a raw query as part of the database configuration, while not elegant, would mostly solve the problem:  The user could then set the `search_path` fo

[2019-02-13 07:43] kilnerm commented on #98
I'v not been able to recreate this error, I asked the originator for further assistance on Slack.

[2019-02-21 08:48] kilnerm commented on #84
I'm marking this as closed. If anything changes with regard to our ability to implement a solution we can re-open.

[2019-02-21 08:48] #84 closed

[2019-02-21 08:50] kilnerm commented on #98
Marking this as closed. Should further information become available I will re-open.

[2019-02-21 08:50] #98 closed

[2019-02-21 09:08] kilnerm commented on #74
@spykr, @xeokeri, Unfortunately we cannot add support for the TINYINT type. While MySQL and SQLite both support 1 byte integers PostgreSQL does not and as such we cannot add support in an abstract fashion for the type.

I considered whether we could do some special handling for PostgreSQL and store TINYINT values as a char but this leads to other issue such as someone storing an actual char in the

[2019-02-27 08:36] #74 closed

[2019-03-05 17:21] bhirt commented on #57
Having dates stored in the database as a number has been a  problem for me.  It would be great to be able to use native database format (preferrable with time zone support to).  I have a system with lots of calendar computations and pre existing schema and reporting that will not work with a double.

[2019-03-21 14:11] #100 closed

[2019-04-10 08:43] #76 closed

[2019-05-02 10:57] KazWar opened #109 "ORM inserting duplicate records"
## Context and Description
The problem is that the ORM inserts duplicate records into a postgres table with constraints which should prevent from duplicate entries being inserted. Regular queries from the database itself, deny me from doing just that, whilst the ORM just does it anyway.

### Environment Details
I'm using the following things
- MacOS Mojave ver 10.14.3
- Xcode ver. 10.1(10B61)
- La

[2019-05-02 12:06] kilnerm commented on #109
My first thought here was whether I could recreate the issue outside Kitura with a very simple table. Using the following table:

[code]
with the following Model:
[code]
I defined an instanced and attempted to save it twice:
[code]
the results of which are below:
[code]

Next step is to use a table using `String` fields.

[2019-05-02 12:30] kilnerm commented on #109
Ok, I think I see what the problem is.

According to the PostgreSQL documentation (https://www.postgresql.org/docs/9.4/ddl-constraints.html) on UNIQUE constraints the constraint defined on the table....
[code]
... means that the combination of `client_mac` and `client_id` must be unique.

As the client_id is generated (`UUID().uuidString`) on each call to the route then every save call will pass t

[2019-05-02 13:13] KazWar commented on #109
Solved the problem by changing

```CONSTRAINT unique_values UNIQUE (client_mac, client_id)```
into
[code]

[2019-05-02 13:13] #109 closed

[2019-06-01 22:40] dillan commented on #17
Relationships definitely seem like very important functionality for an ORM. @kilnerm Do you know if there is existing headway being made on relationship support?

I see a branch from @EnriqueL8 that looks like it's heading in that direction but hasn't been active in a while.

https://github.com/IBM-Swift/Swift-Kuery-ORM/compare/support_dictionary

[2019-06-03 07:46] kilnerm commented on #17
@dillan I have been spending some time coming up with a design for how we can implement relationships. I will be opening some issues in the near future that detail how this will all piece together. I'm keen to get started on implementation as soon as possible.

[2019-06-05 08:20] kilnerm commented on #57
I have merged changes to address alternative date encoding formats under PR #110 .

Hopefully they address the majority of use cases, should anything further be required please raise a new enhancement request.

[2019-06-05 08:20] #57 closed

[2019-06-27 16:10] yo1995 commented on #35
Similar question. It would be nice if attributes could be added in a model! (Django does that quite well, and blurs the boundary between a table and a model)

[2019-06-29 21:54] joemichels opened #112 "A way to create a table with unique constraints."
## Context and Description
It would be handy to identify what columns should have the Unique Constraint at the time of the table creation.

As an example:

var uniqueColumns:[ String] = ["email", "identifierForVendor"]

createTableSync(using db: Database?, uniqueColumnNames: uniqueColumns)

There may be a vastly better way of doing this or a way already, but I hope you understand the need I would

[2019-07-01 15:37] djones6 opened #114 "Use WHERE IN clauses"
While assembling the `WHERE` clause for a `Filter`, judging by the tests, we are producing a list of `(item = 'a') OR (item = 'b')` rather than using the `WHERE item IN (a,b)` syntax.

Doing so would mean the query more closely resembles the filter and I think would mean the tests are more readable.

There might be a small benefit also in terms of saving bandwidth (presumably, that verbose query h

[2019-07-03 10:39] kilnerm commented on #112
@joemichels Currently if you want constraints like this on tables related to your models you would need to create your table through the SwiftKuery API.

I agree that having some means to describe these constraints within the Model declaration would be helpful so will move this onto the backlog for consideration in the future.

[2019-07-03 10:40] kilnerm commented on #114
This is definitely worth looking into.

[2019-07-04 14:12] kilnerm commented on #96
@fwgreen If I understand this request correctly I believe you can already achieve this using QueryParameters....
[code]
The call to findAll above would return me an array containing `user1`, `user2` and `user4`.

Have I understood your requirement correctly?

[2019-07-04 17:12] fwgreen commented on #96
I've tried that.  With the current release package (0.5.2) the result is a crash:
[code]
My workaround has been to extend model with my own `findAll` that substitutes a `WHERE IN` clause in the query:
[code]

[2019-07-05 06:33] kilnerm commented on #96
@fwgreen The good news is that I have a fix for the crash in master. I will tag a new release on Monday so you can pick it up more easily.

[2019-07-08 08:33] kilnerm commented on #96
@fwgreen I have tagged release 0.6.0. Can you take a look and let me know if it now works for you please?

[2019-07-08 09:31] bagfatnick opened #115 "ReadMe for Date encoding strategy"
## Context and Description
Small error in Readme

`
    static var dateEncodingStrategy: DateEncodingFormat = .timestamp
`
should be:
`
    static var dateEncodingFormat: DateEncodingFormat = .timestamp
`

[2019-07-08 11:32] kilnerm commented on #115
I have just merged a fix for this into master.

Thanks for catching this!!

Marking as closed. Please reopen you have any further follow up.

[2019-07-08 11:32] #115 closed

[2019-07-08 12:07] fwgreen commented on #96
@kilnerm Thanks for your work on this.  I was able to try it and it does work, but with two small issues:  It can't handle an empty array:
[code]
and the name of the field in your filter has to match your CodingKey, not your Model:
[code]

[2019-07-09 12:03] kilnerm commented on #96
@fwgreen I have pushed a fix to master for the `Fatel Error`, the ORM will now return an error stating empty arrays cannot be used a filters.

The second issue is looking likely to be a case of some additional documentation being needed. If you add the same `CodingKeys` definition to the `QueryParams` structure then the filter will work.

[2019-07-09 13:43] fwgreen commented on #96
Thanks!  I'm closing the issue as the core problem is now resolved.

[2019-07-09 13:43] #96 closed

[2019-07-09 23:07] Beautylivery commented on #50
Hello, i am quite new user to this project however, i believe an s behind every table just randomly need to be fixed, as this is a bug in the code. Right ?

Clearly its fine that struct name = table name but not struct name = table name + s . Especially working with existing tables like me this gives a whole lot of a mess.

The here presented solution is simply a work around on an issue that still

[2019-07-10 18:26] fwgreen commented on #50
@Beautylivery The problem is this is a deliberate design choice and not a bug.  The architects have assumed that all users are English speakers and all English nouns are pluralized by adding an "S".  Feel free to open a new issue.

[2019-08-06 09:07] jfgrang commented on #17
@kilnerm Thanks for that great news. Any idea on when that will be ready ?
In the meantime I am really interested in knowing a workaround for that.

[2019-08-07 20:50] fwgreen opened #118 "Consider providing sync versions of Model's functions"
Async functions work well for REST APIs but become unwieldy when working with templates.  And it's a real burden to write one's own synchronous versions of `find`, `findAll`, `update`, etc.

[2019-08-12 07:09] kilnerm commented on #17
@jfgrang I'm afraid the timeline is fluid, I spend as much time as I can spare on this and have made some reasonable progress regarding the nesting of models.

Working around this is not trivial, firstly you would need to declare your tables to include appropriate foreign key relationships and then add functions, that handle the nesting, to your structs for the database operations you require.

[2019-08-12 08:36] jfgrang commented on #17
@kilnerm I'm not blaming you. I really love what you've done so far and 👏 for that.
I was considering doing the nested part that way. Thanks for your guidance.

[2019-09-05 14:54] zhenyab opened #120 "UUID type ID"
## Context and Description
I use existing database and try to create ORM object to use with it. But I found it is impossible, or may be can't find workaround.

### Environment Details
macOS: 10.14.6
Xcode: 10.3
Swift: Apple Swift version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5) Target: x86_64-apple-darwin18.7.0

### Steps to Reproduce
1. I create struct with the UUID type for ID of the tabl

[2019-09-09 02:59] fwgreen opened #121 "Consider making Model easier to extend"
Model might be made more flexible with overloads that took `Query` or by making some internal functions, such as `getSelectQueryWithFilters` and `convertError`, public.

[2019-09-14 12:32] fummicc1 opened #122 "How about changing the variable name `idKeypath`?"
## Suggestion. How about changing the variable name  `idKeypath`?

Nice to meet you, I recently started studying Kitura. Thank you for your daily maintenance!
This is my personal opinion, but I would be happy if you could refer to it.

This is a quote from [this site](https://github.com/IBM-Swift/Swift-Kuery-ORM#using-optional-id-properties),

Declaring your ID property as optional allows the ORM

[2019-09-24 10:29] djones6 commented on #122
I agree that it would have been better to have an uppercase P, however this would be a breaking change.  I'm not sure that we would want to break the API for the sake of correcting casing.

However, it might be possible to add an _additional_ property `idKeyPath` that essentially acts as an alias of `idKeypath`. @kilnerm do you think this is feasible?

[2019-09-24 10:45] fummicc1 commented on #122
@djones6  Thankyou for your reply.
`idKeypath` is not bad at all. But as for me, `idKeyPath` is suitable because Swift's property is lowerCamelCase style!
Though I will comment #123 soon, #123 PR is non-breaking. Please look at this Image.

**Note: If my PR is passed, a part of [README.md](https://github.com/IBM-Swift/Swift-Kuery-ORM#using-optional-id-properties) where refers to `idKeypath` should

[2019-11-21 04:16] xeokeri opened #124 "More fine grain control on what Date columns use .timestamp vs .date, etc..."
## Improve DateEncodingFormat Support
There is only one way per table to set all columns using Date to one format. For example:

[code]

or

[code]

### Steps to Reproduce
[code]

In this example, `var date:` should be `.date`, and `var updated:` should be `.timestamp`, to be more fine grained to their respective use cases in this table.

### Expected vs. Actual Behaviour
- [ ] Expect each column

[2019-11-21 04:37] xeokeri commented on #121
I had to do something similar, locally. To do a dynamic `WHERE IN` clause.

[2019-11-21 04:46] xeokeri commented on #45
Is there still a plan to include this in the near future? I'm running into the same issues.

[2019-11-21 21:10] FueledByGoogle opened #125 "How to perform a SELECT SUM(column) ..."
I'm wondering are there any other places for documentations or examples on queries? I'm having a really hard time trying to execute basic sql queries because the documentations are pretty bare. Thanks.

[2019-12-25 04:31] diuming opened #127 "Does ORM support subclass?"
I try to use my `subclass` `ClassB ` conforms with `Model`.
Then create database table using `createTableSync()` function.
but only `id` and `value3`'s are created.

how about `value1` and `value2` of `ClassA`?

[code]

[2020-03-24 09:46] igorL-Pg commented on #127
Class inheritance works just fine, but you have to rewrite your required init(from decoder: Decoder). This is a bit odd because the Model protocol conforms to Codable protocol and subclass inherits from a class that also conforms to the same protocol. Therefore encoding and decoding for basic data types should be working out fo a box.

[2020-03-25 18:07] igorL-Pg commented on #127
You also have to override func encode(to encoder: Encoder) throws in
the case that you want to use save or update function.

[2020-04-14 12:04] AdmiralTriggerHappy commented on #99
This would be nice, having all strings define as Text makes things messy.
Would be nice to have a way to define either char, varchar or text depending on requirements.
I've been looking through the code but I'm still very new to swift and not sure how things are being mapped out here.

[2020-10-27 11:41] diuming commented on #127
@igorL-Pg got it.

[2020-10-27 11:41] #127 closed

[2021-08-18 09:12] NathanFallet commented on #120
Try with this snippet: (if `UUID` conforms to `Identifier` then it will work)

[code]

Your problem might occurs because you didn't unwrap `uuid`, what I've fixed here.

[2021-08-18 09:32] NathanFallet commented on #22
I've added both aliases, so they can be used (when both PR merged)

[2021-08-18 09:36] NathanFallet opened #133 "Move to travis-ci.com (instead of travis.org)"
The old travis.org service is [no longer available](https://blog.travis-ci.com/2021-05-07-orgshutdown).
You need to activate something in order to move the CI to travis-ci.com. PRs won't be able to get merged otherwise

[2021-08-18 09:42] zhenyab commented on #120
Many thanks for the hint

[2021-08-18 10:00] NathanFallet commented on #120
@zhenyab If it works as expected, you can close the issue.

[2021-08-18 12:58] mbarnach commented on #133
@NathanFallet Thanks for the reminder. We are currently in the process of doing it, but there is quite a few repos to go through
@dannys42 Do you have any progress on this side?

[2021-08-19 09:16] dannys42 commented on #133
I'll try to prioritize this in the next couple days.  FYI, part of the process I've been going through is also to update the CI builds to include newer versions of swift and deprecate Swift 4.x.  Let me know if there are any issues with that.

[2021-08-21 04:17] dannys42 commented on #133
FYI, I'm working on this... Some of the dependencies (e.g. Swift-Kuery and KituraContracts) also need updating, so it's going a little slower than I'd hoped.

[2021-08-28 22:16] dannys42 commented on #133
Resolved in [PR](https://github.com/Kitura/Swift-Kuery-ORM/pull/134) and release 1.0.0

[2021-11-11 15:55] bhregmi opened #136 "Can it be used with Oracle Database ? If so how ?"
Is it possible to use this ORM with Oracle Database ? If yes then can you please provide some examples on its implementation.

[2021-11-21 01:36] dannys42 commented on #136
The list of plugins is in the readme.  Currently Kuery ORM only supports PostgreSQL, SQLite, and MySQL.  However, if you're feeling adventurous, Oracle does have an [SDK](https://docs.oracle.com/en/cloud/paas/mobile-cloud/mcsua/write-swift-applications-using-ios-client-sdk.html#GUID-E900EB8C-3F9B-4F57-A6C2-7251BC01FEB8) if you wanted to write the Oracle plugin. :-)

[2021-11-23 09:13] #120 closed

[2022-02-28 08:13] arron-rgb opened #137 "Anyone using Swift 5?"
## Context and Description
When I try to build my project, it returns an error.

<img width="867" alt="Screen Shot 2022-02-28 at 3 11 19 AM" src="https://user-images.githubusercontent.com/64225212/155947465-3efcb2ad-5fe3-42f5-97fb-0ed13e743563.png">

I found it is caused by https://github.com/Kitura/CLibpq/blob/master/Package.swift

### Environment Details
Swift 5.5
Xcode 13.1

### Steps to Reprod

[2022-03-01 01:38] dannys42 commented on #137
Just to confirm, is this Swift 5.5?

[2022-03-01 01:49] arron-rgb commented on #137
yes swift 5.5

[2022-03-01 03:26] dannys42 commented on #137
Strange, it should be working.  What version of Swift-Kuery-ORM are you pointing to?  If you're using SPM, can you share your Package.swift file?

[2022-03-02 21:24] arron-rgb commented on #137
`// swift-tools-version: 5.5
// The swift-tools-version declares the minimum version of Swift required to build this package.

import PackageDescription

let package = Package(
    name: "A5",
    dependencies: [
        // Dependencies declare other packages that this package depends on.
        // .package(url: /* package url */, from: "1.0.0"),
      .package(url: "https://github.com/Kitura/Swi

[2022-03-04 06:51] dannys42 commented on #137
Ah, I see. I added the swift-tools-version to CLibpq.  Can you try and see if that works?

[2022-03-04 22:16] arron-rgb commented on #137
it works now thanks

[2022-03-04 22:16] #137 closed

[2022-04-16 06:23] #22 closed

[2022-06-28 19:30] lmihalkovic commented on #45
Seems it is still broken... I realized that somehow DatabaseEncoder only supports types that do not need any mapping/encoding:

[code]
when value is an enum type, then ```values``` only contains the naked enum value, rather than storing the mapped value (I use a property wrapper that encodes the enums into their ```rawValue```. the wrapper's encoder is invoked when using JSONEncoder, but never inv